%h1 Nova pergunta para o FAQ

- form_for(:faq, @faq, :url => faq_admin_url, :builder => SimpleBuilder) do |f|
= render :partial => 'form', :locals => {:f => f}
= submit_tag 'Criar'
or
= link_to "Cancelar", faq_admin_url
- end