
<div class='study_case'>
	<h1 class='study_case_name'><%= link_to study_case.name.camelize , object_url(study_case) %>
	<% if logged_in?%>
		<%= link_image_study_case_edit(edit_object_path(study_case)) %>
	<% end %>
	</h1>
	<p>
		<%= truncate(study_case.description, 300) %>
	</p>

</div>
