<h1>Dica:</h1>
<h2>Na barra lateral a esquerda, você encontra os títulos dos estudos de caso.</h2>

<br>
<%= (link_to '<span class="add-study-case">+</span> Adicionar estudo de caso', new_object_url) if current_user %>

