<fieldset>
  
	<p>
	  Um email foi enviado para <%= @user.email%> com instruções de como ativar sua conta.
	  
		<li>
			Se o seu email não é válido você deve <%= link_to "inscrever-se", signup_path %> 
			novamente e usar um email verdadeiro.
		</li>
		<li>
		  Se você não receber email, cheque também sua caixa de lixo e spam, pois
		  seu filtro pode ter direcionado a mensagem sem passar pela sua caixa de entrada.
		</li>
	</p>
</fieldset>