<% remote_form_for (:user, {:url => {:action => 'forgot_password'},:update => 'forgot_password_warning'}) do |form| %>
      <fieldset>
       <p>Insira o seu email e clique em enviar. </p>
          <p>
              <%= form.text_field :email, :size => 20, :class => 'text' %>
          </p>
          <%= submit_tag 'Enviar' %>
      </fieldset>
      <div id="forgot_password_warning"></div>
  <% end %>
  
