<% form_for :user, :url => {:action => 'forgot_password'} do |form| %>
      <fieldset>
   <legend>Pedido para troca de senha</legend>
       <p>Insira o seu email que está cadastrado conosco e clique em enviar. Iremos enviar um link para você resetar sua senha.</p>
          <p>
              <label for="user_email" >Email:</label><br/>
              <%= form.text_field :email, :size => 35, :class => 'text' %>
          </p>
          <%= submit_tag 'Enviar' %>
      </fieldset>
  <% end %>