
  
  
  <div class="content-wrapper">
      <div id="sidebar-right">
          <div class="border-top"></div>
          <div class="border-bottom">
              <h1>Mídias Relacionadas</h1>
              <%= render :partial => 'youtube_videos', :collection => @youtube_videos.videos.reverse %>
              
          </div>
      </div>
      <div id="content-column">
          <div class="content-box">
              <div class="border-tleft"><div class="border-tright"></div></div>
              <div class="content">
                  
                  <h1>Estudos de Caso</h1>
                  <%= render :partial => 'featured_study_cases', :collection => @featured_study_cases%>
              </div>
              <div class="border-bleft"><div class="border-bright"></div></div>
          </div>
      </div>
      <div style="clear:both;"></div>
  </div>