
  
  
  <div class="content-wrapper">
      <div id="sidebar-right">
          <div class="border-top"></div>
          <div class="border-bottom">
              <h1>Mídias Relacionadas</h1>
              <div class="sidebar-block">
                  <h2>A tour into luciana de Abreu School</h2>
                  <p>
                      Este vídeo retrata a comunidade da Escola Estadual Luciana de Abreu
                      aos alunos.
                      Quinto dia após a entrega dos primeiros 50 laptops aos alunos.
                  </p>
              </div>
              <div class="sidebar-block">
                  <h2>A tour into luciana de Abreu School</h2>
                  <p>
                      Este vídeo retrata a comunidade da Escola Estadual Luciana de Abreu
                      aos alunos.
                      Quinto dia após a entrega dos primeiros 50 laptops aos alunos.
                  </p>
              </div>
              <div class="sidebar-block">
                  <h2>A tour into luciana de Abreu School</h2>
                  <p>
                      Este vídeo retrata a comunidade da Escola Estadual Luciana de Abreu
                      aos alunos.
                      Quinto dia após a entrega dos primeiros 50 laptops aos alunos.
                  </p>
              </div>
              <div class="sidebar-block">
                  <h2>A tour into luciana de Abreu School</h2>
                  <p>
                      Este vídeo retrata a comunidade da Escola Estadual Luciana de Abreu
                      aos alunos.
                      Quinto dia após a entrega dos primeiros 50 laptops aos alunos.
                  </p>
              </div>
          </div>
      </div>
      <div id="content-column">
          <div class="content-box">
              <div class="border-tleft"><div class="border-tright"></div></div>
              <div class="content">
                  <h1>Estudos de Caso</h1>
                  <div class="topic">
                      <h2 class="topic-title">
                          <a href="#">Projeto de Língua Escrita</a>
                      </h2>
                      <p>
                          Como a imersão do aluno em um sistema rico em trocas 
                          simbólicas propiciado pelo laptop impacta no desenvolvimento 
                          de seu sistema conceitual sobre a lingua língua escrita
                          (incluíndo o sentido interacional e a compreensão de leitura)?
                      </p>
                  </div>
                  <div class="topic">
                      <h2 class="topic-title">
                          <a href="#">Projeto de Língua Escrita</a>
                      </h2>
                      <p>
                          Como a imersão do aluno em um sistema rico em trocas 
                          simbólicas propiciado pelo laptop impacta no desenvolvimento 
                          de seu sistema conceitual sobre a lingua língua escrita
                          (incluíndo o sentido interacional e a compreensão de leitura)?
                      </p>
                  </div>
                  <div class="topic">
                      <h2 class="topic-title">
                          <a href="#">Projeto de Língua Escrita</a>
                      </h2>
                      <p>
                          Como a imersão do aluno em um sistema rico em trocas 
                          simbólicas propiciado pelo laptop impacta no desenvolvimento 
                          de seu sistema conceitual sobre a lingua língua escrita
                          (incluíndo o sentido interacional e a compreensão de leitura)?
                      </p>
                  </div>
                  <div class="topic">
                      <h2 class="topic-title">
                          <a href="#">Projeto de Língua Escrita</a>
                      </h2>
                      <p>
                          Como a imersão do aluno em um sistema rico em trocas 
                          simbólicas propiciado pelo laptop impacta no desenvolvimento 
                          de seu sistema conceitual sobre a lingua língua escrita
                          (incluíndo o sentido interacional e a compreensão de leitura)?
                      </p>
                  </div>
              </div>
              <div class="border-bleft"><div class="border-bright"></div></div>
          </div>
      </div>
      <div style="clear:both;"></div>
  </div>