%h1 Editando página 

= error_messages_for :page

- form_for(:page, :url => object_url, :html => { :method => :put }) do |f|
  = render :partial => "form", :locals => { :f => f }
  %br
  %p= submit_tag "Atualizar"
  %br
= link_image_back  collection_url