<h1><%=@study_case.name %></h1>
 <%=link_to( image_tag('page_add.png', :title => 'Adicionar Página', :alt => 'Adicionar Página')+" Adicionar página", new_object_path) unless !current_user%>

<div class='pages-tree'>
  <%= show_pages_tree %>
</div>



