<h1>Dica:</h1>
<h2>Na barra lateral a esquerda, você encontra as categorias em que estão organizadas nossas perguntas e respostas.</h2>
<% content_for :custom_imports do %>
	<%= stylesheet_link_tag "faq" %>
<% end%>