  <ul>
    <li ><a href="index.html" >Home</a> </li>
     <li ><a href="#">Sobre</a></li>
     <li ><a href="#">Estudos</a></li>
	  <li ><a href="#">Processo</a></li>
	   <li ><a href="#">Projeto UCA</a></li>
	   <li class="contact"><a href="#">Contato</a></li>
  </ul>